{% extends "base.html" %}

{% block title %}Goal Detail{% endblock title %}

{% block content %}
<div class="goals-header">
    <h3>Goal Detail</h3>
    <table class="goals-table">
        <tbody class="goals-body">
            <div class="sub-goals">
                <p>Once a month: {{ object.once_a_month }}</p>
                <p>Once a month amount: {{ object.once_a_month_amount }}</p>
            </div>
            <div class="sub-goals">
                <p>Once a quarter: {{ object.once_a_quarter }}</p>
                <p>Once a quarter amount: {{ object.once_a_quarter_amount }}</p>
            </div>
            <div class="sub-goals">
                <p>Once a year: {{ object.once_a_year }}</p>
                <p>Once a year amount: {{ object.once_a_year_amount }}</p>
            </div>
            <div class="sub-goals">
                <p>Once every five years: {{ gobject.once_every_five_years }}</p>
                <p>Once every five years amount: {{ object.once_every_five_years_amount }}</p>
            </div>
            <a href="{% url 'goals:goals_update' object.pk %}" class="btn btn-primary">Edit</a>
        </tbody>
    </table>
</div> 
{% endblock content %}