{% extends "base.html" %}

{% block title %}Goal Detail{% endblock title %}

{% block content %}
    <h2>Goal Detail</h2>
    <p>Once a month: {{ object.once_a_month }}</p>
    <p>Once a month amount: {{ object.once_a_month_amount }}</p>
    <p>Once a quarter: {{ object.once_a_quarter }}</p>
    <p>Once a quarter amount: {{ object.once_a_quarter_amount }}</p>
    <p>Once a year: {{ object.once_a_year }}</p>
    <p>Once a year amount: {{ object.once_a_year_amount }}</p>
    <p>Once every five years: {{ object.once_every_five_years }}</p>
    <p>Once every five years amount: {{ object.once_every_five_years_amount }}</p>
    <a href="{% url 'users:goals_edit' object.pk %}">Edit</a>
{% endblock content %}