{% extends "base.html" %}
<!-- {% load crispy_forms_tags %} -->

{% block title %}Goals{% endblock title %}

{% block content %}
<h2>goals_add.html</h2>
<div class="goals-header">
    <h3>Goals</h3>
    <p>Enter your goals and approxiate dollar value for each goal</p>
    <table class="goals-table">
        <tbody class="goals-body">
            <form method="post">
                {% csrf_token %}
                <div class="sub-goals">
                    <p>Enter your monthly rewards</p>
                    <div class="goal-text">
                    {{ form.once_a_month }}
                    </div>
                    <div class="goal-amount">
                    {{ form.once_a_month_amount }}
                    </div>
                </div>
                <div class="sub-goals">
                    <p>Enter your quarterly rewards</p>
                    <div class="goal-text">
                    {{ form.once_a_quarter }}
                    </div>
                    <div class="goal-amount">
                    {{ form.once_a_quarter_amount }}
                    </div>
                </div>
                <div class="sub-goals">
                    <p>Enter your annual reward</p>
                    <div class="goal-text">
                    {{ form.once_a_year }}
                    </div>
                    <div class="goal-amount">
                    {{ form.once_a_year_amount }}
                    </div>
                </div>
                <div class="sub-goals">
                    <p>Enter your reward that you would do every 5 years</p>
                    <div class="goal-text">
                    {{ form.once_every_five_years }}
                    </div>
                    <div class="goal-amount">
                    {{ form.once_every_five_years_amount }}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </tbody>
    </table>
</div> 

{% endblock content %}