{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Pressure detail{% endblock title %}

{% block content %}
<h2>pressure_detail.html</h2>
<div class="pressure-buttons">
    <button type="button" class="btn btn-primary" id="breakNowButton">Break Now</button>
    <button type="button" class="btn btn-primary" id="scheduleBreakButton">Schedule Break</button>
</div>

<form method="post" action="" id="pressureNowForm" style="display: none;">
    {% csrf_token %}
    {{ now_form|crispy }}
    <button type="submit" class="btn btn-primary">Save</button>
</form>

<form method="post" action="" id="pressureLaterForm" style="display: none;">
    {% csrf_token %}
    {{ later_form|crispy }}
    <button type="submit" class="btn btn-primary">Save</button>
</form>

<script>
    document.getElementById('breakNowButton').addEventListener('click', function() {
        document.getElementById('pressureNowForm').style.display = 'block';
        document.getElementById('pressureLaterForm').style.display = 'none';
    });

    document.getElementById('scheduleBreakButton').addEventListener('click', function() {
        document.getElementById('pressureLaterForm').style.display = 'block';
        document.getElementById('pressureNowForm').style.display = 'none';
    });
</script>

{% endblock content %}